.features {
  display: flex;
  align-items: center;

  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heading {
  text-align: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
